.survey {
  background-image: url('../../assets/images/survey-frame.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 70vh;
  margin-top: 5rem;
}
